
# app data
apps/python/OPRTelemetry/config.ini
/app/static/
/data/
*.db
*.db-shm
*.db-wal
.DS_Store
*.egg-info/
.env
# frontend
*.log
# misc
node_modules/
*.pyc
__pycache__/
.pytest_cache/
# python
.ruff_cache/
.start.pid
.venv/
